{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "singleQuote": false,
    "htmlWhitespaceSensitivity": "css",
    "bracketSameLine": false,
    "endOfLine": "lf",
    "semi": true,
    "overrides": [
        {
            "files": ["*.html"],
            "options": {
                "parser": "html"
            }
        }
    ]
}
