
/*********************************************************************************************
Style for faq page.
*********************************************************************************************/

.q-and-a {
    max-width: var(--nine-column-width);
    margin-bottom: 2.5rem;
    margin-inline: 0 auto;
}

.q-and-a h3 {
    margin-bottom: 1.5rem;
}