/* style for irepair4u  */

/*********************************************************************************************
Root variables.
*********************************************************************************************/

:root {
    /* Root color variables */
    --red-accent: rgba(225, 30, 70, 1);
    --lighter-red-accent: rgba(225, 30, 70, 0.8);
    --gray-accent: rgba(210, 210, 210, 1);

    --gray-background: rgba(190, 190, 190, 0.3);
    --red-background: rgba(225, 30, 70, 0.4);
    --shadow-color: rgba(160, 160, 160, 1);
    --lighter-shadow-color: rgb(200, 200, 200, 1);

    /* Root font variables */
    --fw-regular: normal;
    --fw-semi-bold: normal;
    --fw-bold: bold;

    --fs-body: 1rem;
    --fs-card: 1.1rem;
    --fs-column: 1.2rem;
    --fs-title-small: 1.5rem; 
    --fs-title: 2rem;
    --fs-section-title: 3rem;

    /* Root content size variables */ 
    /* percentage equivalents are slightly larger than pixel and rem quantities */
    --two-column-width: 8.75rem;
    /* pixel equivalent 140px */
    /* rem equivalent 8.75rem */
    /* percentage equivalent 7.7% */
    --three-column-width: 13.75rem;
    /* pixel equivalent 220px */
    /* rem equivalent 13.75rem */
    /* percentage equivalent 12.1% */
    --four-column-width: 18.75rem;
    /* pixel equivalent 300px */
    /* rem equivalent 18.75rem*/
    /* percentage equivalent 16.5% */
    --five-column-width: 23.75rem;
    /* pixel equivalent 380px */
    /* rem equivalent 23.75rem */
    /* percentage equivalent 20.9% */
    --six-column-width: 28.75rem;
    /* pixel equivalent 460px */
    /* rem equivalent 28.75rem */
    /* percentage equivalent 25.3% */
    --eight-column-width: 38.75rem;
    /* pixel equivalent 620px */
    /* rem equivalent 38.75rem */
    /* percentage equivalent 34.1% */
    --nine-column-width: 43.75rem;
    /* pixel equivalent 700px */
    /* rem equivalent 43.75rem */
    /* percentage equivalent 38.5% */
    --ten-column-width: 48.75rem;
    /* pixel equivalent 780px */
    /* rem equivalent 48.75rem */
    /* percentage equivalent 42.9% */
    --twelve-column-width: 58.75rem;
    /* pixel equivalent 940px */
    /* rem equivalent 58.75rem */
    /* percentage equivalent 51.7% */
    --full-width: 60rem;
    /* pixel equivalent 960px */
    /* rem equivalent 60rem */
    /* percentage equivalent 52.8% */

    --base-padding: 0.625rem;
    /* pixel equivalent 10px */
    /* rem equivalent 0.625rem */
    /* percentage equivalent 0.55% */
    --inline-base-padding: 1.25rem;
    /* pixel equivalent 20px */
    /* rem equivalent 1.25rem */
    /* percentage equivalent 1.1% */
}


@font-face {
    font-family: 'custom-font';
    src: url('custom_font/Atkinson-Hyperlegible-Regular-102.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'custom-font';
    src: url('custom_font/Atkinson-Hyperlegible-Bold-102.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'custom-font';
    src: url('custom_font/Atkinson-Hyperlegible-Italic-102.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'custom-font';
    src: url('custom_font/Atkinson-Hyperlegible-BoldItalic-102.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}


/*********************************************************************************************
General utility class styles.
*********************************************************************************************/

.background-white {
    background-color: white;
}

.background-red {
    background-color: var(--red-accent);
}

.background-gray {
    background-color: var(--gray-accent);
}

.text-red {
    color: var(--red-accent);
}

.text-gray {
    color: var(--gray-accent);
}

.text-white {
    color: white;
}


.fs-body {
    font-size: var(--fs-body);
}

.fs-card {
    font-size: var(--fs-card);
}

.fs-column {
    font-size: var(--fs-column);
}

.fs-title-small {
    font-size: var(--fs-title-small);
}

.fs-title {
    font-size: var(--fs-title);
}

.fs-section-title {
    /* fs-section-title font-size gets special styling */
    font-size: var(--fs-section-title);
    border-bottom: 2px solid black;
}


/* Text sizes shrink to accommodate smaller screens */
@media screen and (max-width: 600px) {
    .fs-body {
        font-size: 0.9rem;
    }
    .fs-card {
        font-size: 1.0rem;
    }
    .fs-column {
        font-size: 1.1rem;
    }
    .fs-title-small {
        font-size: 1.3rem;
    }
    .fs-title {
        font-size: 1.6rem;
    }
    .fs-section-title {
        font-size: 2.2rem;
        border-bottom: none;
    }
}

.fw-regular {
    font-weight: normal;
}

.fw-semi-bold {
    font-weight: normal;
}

.fw-bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}


/* Column width general styling. Margin uses right/left top/bottom rather than inline and block for broader compatibility */
.two-column-width {
    max-width: var(--two-column-width);
}

.three-column-width {
    max-width: var(--three-column-width);
}

.four-column-width {
    max-width: var(--four-column-width);
}

.six-column-width {
    max-width: var(--six-column-width);
}

.eight-column-width {
    max-width: var(--eight-column-width);
    margin-left: auto;
    margin-right: auto;
}

.nine-column-width {
    max-width: var(--nine-column-width);
    margin-left: auto;
    margin-right: auto;
}

.ten-column-width {
    max-width: var(--ten-column-width);
    margin-right: auto;
    margin-left: auto;
}

.twelve-column-width {
    max-width: var(--twelve-column-width);
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    max-width: var(--full-width);
    margin-left: auto;
    margin-right: auto;
}

 
/* Padding utility classes. Padding uses right/left top/bottom rather than inline and block for broader compatibility */
.padding-block-smaller {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.padding-block-small {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.padding-block-medium {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.padding-block-large {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.padding-inline-small {
    padding-left: 1rem;
    padding-right: 1rem;
}

.padding-inline-medium {
    padding-left: 2rem;
    padding-right: 2rem;
}

.padding-inline-large {
    padding-left: 3rem;
    padding-right: 3rem;
}


/* General element styling */
main {
    min-height: 80vmin;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem; 
}


/* .container keeps all sections within 960 pixels and centered */
.container {
    width: min(var(--twelve-column-width), 100% - var(--inline-base-padding));
    margin-left: auto;
    margin-right: auto; 
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* .flex-row utility class */
.flex-row {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

/* .flex-column utility class */
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.four-column {
    display: flex;
    justify-content: space-between;
}

.three-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto; 
    justify-content: center;
    justify-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* .four-column is for footer links */
@media screen and (max-width: 850px) {
    .four-column {
        flex-direction: column;
    } 
}

/* .three-column-grid shrings sooner because of the size of the grid */ 
@media screen and (max-width: 940px) {
    .three-column-grid {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: auto auto;
    }
} 

@media screen and (max-width: 600px) {
    .three-column-grid {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: auto;
    }
}


/* float utility classes for image insertion */ 
.float-right {
    float: right;
    position: relative;
    top: 0.3rem;
}

.float-left {
    float: left;
    position: relative;
    top: 0.3rem;
}

@media screen and (max-width: 650px) {
    .float-right {
        float: none;
        max-width: var(--six-column-width);
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 1.5rem;
    }
    .float-left {
        float: none;
        max-width: var(--six-column-width);
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 1.5rem;
    }
}


/* Button utililty class styling */
.red-button { 
    color: white;
    background-color: var(--red-accent);
    cursor: pointer;
    text-decoration: none;
    border: 2px solid var(--red-accent);
    padding: 0.625rem;
    border-radius: 0.625rem;

    transition: all 100ms;
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    -ms-transition: all 100ms; 
    -o-transition: all 100ms;

    box-shadow: 4px 8px 4px 0px var(--lighter-shadow-color);
    -webkit-box-shadow: 4px 8px 4px 0px var(--lighter-shadow-color);
}

.red-button:hover,
.red-button:active {
    background-color: var(--lighter-red-accent);

    transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);

    box-shadow: 2px 4px 4px 0px var(--shadow-color);
    -webkit-box-shadow: 2px 4px 4px 0px var(--shadow-color);
}

.inverse-red-button {
    color: var(--red-accent);
    background-color: white;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid var(--red-accent);
    padding: 10px;
    border-radius: 10px;

    transition: all 100ms;
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    -ms-transition: all 100ms; 
    -o-transition: all 100ms;

    box-shadow: 4px 8px 4px 0px var(--lighter-shadow-color);
    -webkit-box-shadow: 4px 8px 4px 0px var(--lighter-shadow-color);
}

.inverse-red-button:hover,
.inverse-red-button:active {
    color: var(--lighter-red-accent);
    border-color: var(--lighter-red-accent);
    text-decoration: underline;

    transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
    
    box-shadow: 2px 4px 4px 0px var(--shadow-color);
    -webkit-box-shadow: 2px 4px 4px 0px var(--shadow-color);
}

@media screen and (max-width: 600px) {
    .red-button {
        padding: 0.5rem;
    }
    .inverse-red-button {
        padding: 0.5rem;
    }
}


/*********************************************************************************************
Specific element styling.
*********************************************************************************************/

/* Body and body content style */
body {
    font-family: 'custom-font', sans-serif;
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    color: black;
    background-color: white;
    overflow-wrap: break-word;
}   


/*********************************************************************************************
Header and navbar styling. 
*********************************************************************************************/

/* Header and header content style */
header {
    /* box-shadow takes horizonatal and vertical offset then blur distance and then shadow distance */
    box-shadow: 0px 0px 20px 5px var(--shadow-color);
    -webkit-box-shadow: 0px 0px 20px 5px var(--shadow-color);
}

.navbar-list li {
    /* inline-block removes list styles and make items horizontal */
    display: inline-block;
}

header .red-button {
    /* This creates a gap between the last regular button and the default button */ 
    margin-left: 0.8rem;
}

.nav-link a{
    color: black;
    text-decoration: none;
    /* ensures min-width to homogenize appearance */
    min-width: 3.75rem;
    padding: 0.8rem;
}

.nav-link a:hover,
.nav-link a:active {
    color: var(--red-accent);
    text-decoration: underline;
}


/* This segment control the hamburger menu */
.hamburger-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    width: min(35px, 10%);
    /* positioned at half inline padding to the right */
    right: var(--base-padding);
    background-color: transparent;

    /* Take away annoying mobile tap effect */
    outline: none;
    outline-color: none;
    -webkit-tap-highlight-color: transparent;
}

/* .bars make up the three lines of the hamburger icon */
.hamburger-icon .bar {
    background-color:  var(--red-accent);
    height: 5px;
    margin: 4px 0;

    transition: all 150ms;
    -webkit-transition: all 150ms;
    -moz-transition: all 150ms;
    -ms-transition: all 150ms;
    -o-transition: all 150ms;
}

.hamburger-icon:hover .bar,
.hamburger-icon:active .bar {
    background-color: var(--lighter-red-accent);
}


/* .hamburger-navigation is the ul that actually makes up the list */
.hamburger-navigation {
    display: none;
    position: absolute;
    width: 100%;
    border-bottom: 5px solid var(--shadow-color);
} 

.hamburger-navigation ul {
    list-style: none;
    padding: 0;
}

.hamburger-navigation li {
    display: block;
}

.hamburger-navigation a {
    background-color: var(--gray-accent);
    display: block;
    padding: 1rem;
    width: 100%;
    color: black;
    text-decoration: none;
}

.hamburger-navigation a:hover,
.hamburger-navigation a:active {
    color: white;
    background-color: var(--shadow-color);
}

/* Switches to mobile nav design (see javascript) */
@media screen and (max-width: 940px) {
    .logo {
        /* Shrinks the logo and link for smaller screens */
        width: min(387px, 80%);
        height: auto;
    }
    .primary-navigation {
        display: none;
    }
    .hamburger-navigation {
        display: none;
    }
    .hamburger-icon {
        display: block;
    }
}



/*********************************************************************************************
Footer and footer navigation styles.
*********************************************************************************************/

/* footer and footer content style */
.primary-footer{
    color: white;
}

.primary-footer ul {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

.primary-footer li {
    list-style: none;
    margin-bottom: 20px;
}

.primary-footer-logo {
    width: var(--three-column-width);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.primary-footer a {
    color: white;
    text-decoration: none;
}

#phone::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url('images/contact-mobile-svgrepo-com.svg');
    background-size: cover; 
}

#email::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url('images/contact-mail-svgrepo-com.svg');
    background-size: cover;
}

#address::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url('images/contact-map-pin-svgrepo-com.svg');
    background-size: cover;
}

.primary-footer table th {
    padding-bottom: 20px;
}

.primary-footer table td {
    padding-right: 2rem;
}

.primary-footer a:hover,
.primary-footer a:active {
    text-decoration: underline;
}

#copyright {
    padding: 20px;
}

@media screen and (max-width: 850px) {
    .information-links li {
        text-align: center;
    }
    .information-links {
        margin-top: 50px;
    }
    
    .primary-footer-logo {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .primary-footer-logo img {
        margin: 10px;
    }
    #copyright {
        margin-top: 50px;
    }
}



/*********************************************************************************************
Banner styling.
*********************************************************************************************/

/* banner and banner content style */
.banner {
    padding-block: 1em;
    border-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: var(--shadow-color);
}

.banner .fs-title {
    text-align: center;
    padding-bottom: 1em;
}




/*********************************************************************************************
Background icon styling.
*********************************************************************************************/

.background-image img{
    position: absolute;
    
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);

    top: 0px;
    left: 55%;
    z-index: -1;
    opacity: 0.3;
}

@media screen and (max-width: 750px) {
    .background-image img {
        display: none;
    }
}