<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <style type="text/css">
            body {
                height: 100vmax;
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
                justify-content: space-between;
            }
            h1, p {
                text-align: center;
            }
        
        </style>
    </head>
    <body>
        <h1>IREPAIR4U</h1>
        <p></p>
        {{ content }}
        <p></p>
        <p>copyright 2023 irepair4u</p>
    </body>
</html>