<!-- Home page (index) for iRepair4U website -->
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-ND3S2BWNCR"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "G-ND3S2BWNCR");
        </script>

        <meta charset="utf-8" />
        <meta
            name="description"
            content="iRepair4U is your one stop shop for phone and tablet repairs in Lakewood, New Jersey and neighbouring communitites."
        />
        <meta name="author" content="Josef Gisis" />
        <meta name="HandheldFriendly" content="True" />
        <meta
            name="keywords"
            content="Phone Repair, Phone Repair Lakewood, Phone Repair Lakewood New Jersey, Phone Repair New Jersey, iPhone Repair, iPhone Repair Lakewood, iPhone Repair Lakewood New Jersey, iPhone Repair New Jersey, iRepair4u, iRepair4uNJ, iRepair4u Lakewood NJ, iRepair4U Lakewood, smartphone repair, tablet repair, Samsung Repair, Screen Repair, Cracked Screen, Broken Screen, Screen Replacement, Battery Replacement, Data Recovery"
        />
        <meta name="robots" content="index" />
        <meta name="google-site-verification" content="m0iZSQakZ3m493OH04fvTFoz2mPAvIFHrtw-cEhEgps" />
        <meta name="msvalidate.01" content="9F0993A681A48068EB01C42C7EE58079" />
        <meta http-equiv="X-UA-Compatable" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/images/4u_favicon_32x32.png" size="32x32" type="image/png" />
        <link rel="icon" href="/images/4u_favicon_64x64.png" size="64x64" type="image/png" />

        <title>iRepair4u - home</title>
        <link rel="stylesheet" type="text/css" href="{{ page.reset }}" />
        <link rel="stylesheet" type="text/css" href="{{ page.style }}" />
        <link rel="stylesheet" type="text/css" href="{{ page.secondary_style }}" />
        <link rel="stylesheet" type="text/css" href="{{ page.readme_style }}" />
    </head>
    <body>
        {% if page.show_back_nav %}
        <div class="container">
            <div class="nav-link">
                <a href="/">
                    <button class="red-button">
                        <img src="/images/arrow-back-svgrepo-com.svg" class="back-arrow" />
                        <p>Back</p>
                    </button>
                </a>
            </div>
        </div>

        <div class="background-image">
            <img src="images/irepair4u_icon_red_transparent_300x300.svg" width="300px" height="300px" />
        </div>
        {% endif %}

        <main>{{ content }}</main>

        <footer id="footer" class="primary-footer background-red">
            <div class="container">
                <div class="four-column">
                    <!-- All navigation link columns are contained within the four column div -->

                    <div>
                        <ul id="business-links" aria-label="Business contact information">
                            <li>
                                <div class="primary-footer-logo">
                                    <a href="/"
                                        ><img
                                            src="images/irepair4u_white_transparent_100x860.svg"
                                            alt="iRepair4U banner"
                                            width="172px"
                                            height="20px"
                                    /></a>
                                    <a href="/"
                                        ><img
                                            src="images/irepair4u_icon_white_transparent_300x300.svg"
                                            alt="iRepair4U logo"
                                            width="40px"
                                            height="40px"
                                    /></a>
                                </div>
                            </li>

                            <li id="phone"><a href="tel:+17323303038">(732)-330-3038</a></li>
                            <li id="email"><a href="mailto:iRepairr4u@gmail.com">iRepairr4U@gmail.com</a></li>
                            <li id="address">
                                <a href="https://maps.app.goo.gl/VZhH7L8QmPkuU2BT9"
                                    >750 Green Valley rd., Jackson, NJ 08527</a
                                >
                            </li>
                        </ul>
                    </div>

                    <ul class="information-links" aria-label="Business hours">
                        <li><h4 class="fs-card fw-bold">BUSINESS HOURS</h4></li>
                        <li><p>Please call before coming</p></li>

                        <table id="hours" aria-label="Business hours listing">
                            <tr>
                                <td>Sun</td>
                                <td>11:00am - 3:00pm</td>
                            </tr>
                            <tr>
                                <td>Mon - Thu</td>
                                <td>11:00am - 5:00pm</td>
                            </tr>
                            <tr>
                                <td>Friday</td>
                                <td>11:00am - 2:00pm</td>
                            </tr>
                            <tr>
                                <td>Saturday</td>
                                <td>closed</td>
                            </tr>
                        </table>
                    </ul>

                    <ul class="information-links" aria-label="General information links">
                        <li><h4 class="fs-card fw-bold">INFORMATION</h4></li>
                        <li><a href="/terms_and_conditions.html">terms and conditions</a></li>
                        <li><a href="/faq.html">faq</a></li>
                        <li><a href="/README.html">site documentation</a></li>
                    </ul>
                </div>

                <div class="single-column">
                    <div class="eight-column-width">
                        <p class="text-center" id="copyright">&copy 2025 iRepair4U LLC | designed by Josef Gisis</p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Script for some element resizing -->
        <script src="script.js"></script>
    </body>
</html>
